
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind&display=swap');


/*changing the color and font of my name in the nav*/
h1, h2,
.navbar-brand{
	font-family: 'Archivo Black', sans-serif;
}

/*changing the font of the nav items*/
.navbar li a{
	font-family: 'Hind', sans-serif;
}

/*changing header 2 to orange */
h2{
	color: #E76F51;
}

/*Making the orange button slightly darker when you hover*/
.btn-primary:hover{
	color: black;
	background-color: #D66347;
	border-color: #D66347;
	font-family: 'Hind', sans-serif;
}

/*Making the orange button the same when it is active, visited, and normal*/
.btn-primary,.btn-primary:active, .btn-primary:visited{
	color: black;
	background-color:  #E76F51;
	border-color:  #E76F51;
	font-family: 'Hind', sans-serif;
}

/*Making the prototype button slightly darker blue*/
.btn-secondary:hover{
	color: black;
	background-color: #92D1DC;
	border-color: #92D1DC;
	font-family: 'Hind', sans-serif;
}

/*Making the prototype button blue*/
.btn-secondary,.btn-secondary:active, .btn-secondary:visited{
	color: black;
	background-color:  #97D9E5;
	border-color:  #97D9E5;
	font-family: 'Hind', sans-serif;
}

/*changing main font to hind*/
h3, h4, h5{
	font-family: 'Hind', sans-serif;
}

/*Making the subheaders bolded*/
h4{
	font-weight: bold;
}

/*using jurbank on codepens base */
/*jquery selectors */ 
$total-arrows: 3;
$arrow-line-length: 50px;
$arrow-line-width: 4px;

/* arrow animtion + choose direction */
@mixin arrow-transitions($rot: 0deg) {
  transform: translate(-50%, -50%) rotateZ($rot);
}

/* moving arrows when they are hovered over */
.arrow-container {
	 display: block;
	 width: 100px;
	 height: 100px;
	 position: relative;
	 top: 86%;
	 left: 50%;
	 transform: translate(-50%, -50%) rotateZ(0deg);
}
 .arrow-container:hover {
	 cursor: pointer;
}
 .arrow-container:hover .arrow {
	 top: 50%;
	 color: #D66347;
}
 .arrow-container:hover .arrow:before {
	 transform: translate(-50%, -50%) rotateZ(-30deg);
}
 .arrow-container:hover .arrow:after {
	 transform: translate(-50%, -50%) rotateZ(30deg);
}
 .arrow {
	 position: relative;
	 left: 50%;
	 transition: all 0.4s ease;
}
 .arrow:before, .arrow:after {
	 transition: all 0.4s ease;
	 content: '';
	 display: block;
	 position: absolute;
	 transform-origin: bottom right;
	 background: #E76F51;
	 width: 4px;
	 height: 25px;
	 border-radius: 10px;
	 transform: translate(-50%, -50%) rotateZ(-45deg);
}
 .arrow:after {
	 transform-origin: bottom left;
	 transform: translate(-50%, -50%) rotateZ(45deg);
}

/* each one moves accordily */
 .arrow:nth-child(1) {
	 opacity: 0.3;
	 top: 45%;
}
 .arrow:nth-child(2) {
	 opacity: 0.6;
	 top: 65%;
}
 .arrow:nth-child(3) {
	 opacity: 0.9;
	 top: 85%;
}
 
/* moving underline */
.nounderline{
	text-decoration: none;
}

/* making it so when you hover over the images they pop up in opacity*/
.hovercover:before{
	opacity: 0.1;
}

.hovercover:hover, .hovercover:after{
	opacity: 0.9;
	cursor: pointer;
}

/* making lists be centered but left-aligned*/
.insightList{
  display: inline-block; 
	text-align: left; 
	font-family: 'Hind', sans-serif;
}

/* making content be centered but left-aligned*/
.divCentered {
  text-align: left; 
  margin: auto; 
}